n8n-workflows/ai-schedule-analysis.json
{
  "name": "RestySched - AI Schedule Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "restysched-ai-analysis"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.company_context }}\n\nYou are a schedule optimization assistant. Analyze this schedule:\n\nSchedule ID: {{ $json.schedule_id }}\nPeriod: {{ $json.period_start }} to {{ $json.period_end }}\nTotal Shifts: {{ $json.total_shifts }}\nTotal Hours: {{ $json.total_hours }}\n\nEmployees ({{ $json.employees.length }} total):\n{{ JSON.stringify($json.employees, null, 2) }}\n\nShift Assignments ({{ $json.assignments.length }} total):\n{{ JSON.stringify($json.assignments, null, 2) }}\n\nProvide:\n1. Policy violation analysis\n2. Fairness assessment of shift distribution\n3. Optimization suggestions\n4. Risk identification\n5. Actionable improvements",
        "options": {}
      },
      "id": "ai-agent-1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"schedule_id\": \"{{ $('Webhook').item.json.schedule_id }}\",\n  \"ai_provider\": \"AI Analysis\",\n  \"analysis\": {{ JSON.stringify($json.output) }}\n}"
      },
      "id": "response-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-10T23:30:00.000Z",
  "versionId": "1"
}
